/* HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
 
}

/*header*/
/*header{
    background-color: #56633a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  
    }

header img{
    width: 30%;
    margin-top:5px;
    margin-left: 5px;

}

nav{
    width: 60%;
}

header ul{

    list-style-type: none;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-right: 50px;
 
}

header a{
    color: #d7ebb8;
    text-decoration: none;
    font-size: 2rem;



}
*/
.accion{
    padding-right: 80px;}
.suspenso{
    padding-right: 80px;}
.terror{
    padding-right: 80px;}
.drama{
    padding-right: 80px;}

.ltr{
    
    font-size: 25px;
    color: aliceblue;
    text-decoration:double;
   font-family: 'Montserrat', sans-serif
    

             
}


.bkc{
    background-color: #9eaa85;
    height: 100px;
   


}


.ltr:hover{
    color:rgba(30, 56, 29, 0.411);
    
}

 
/*Cardsss*/
h2{
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: solid;
    font-size: 3rem;
    padding-left: 40px;
    padding-bottom: 60px;
}

.card-body{
    display: flex;
    border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
    
 

}

.card-body .btn{
    font-size: 17px;
    color:aliceblue;
    background-color: #9eaa85;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}

.btn:hover{
    background-color: #b8bcf0;
}

div> img{
    width: 300px;
    height: 400px;
    border-radius: 20px; 

 

}

.Cterror{
    padding: 30px;
    border: 2px solid #1c2505 ;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    margin: 10px;
  
}

.Cdrama{
    padding: 30px;
    border: 2px solid #1c2505 ;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    margin: 10px;
}

.Cacci{
    padding: 30px;
    border: 2px solid #1c2505 ;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    margin: 10px;
}

.Cfan{
    padding: 30px;
    border: 2px solid #1c2505 ;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    margin: 10px;

}


h5{
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    

}
.card-text{
    font-family:'Montserrat', sans-serif ;
    font-size: 1.5rem;

}



/*Main*/
article img{
    width: 30%;
}
/*Footer*/

footer{
    background-color: rgb(170, 189, 206);
    height: 3rem;
    width: 100%;
    background-size: contain ;
}

.rrss{
    color: #1c2505;
    text-transform: uppercase;
    padding: 30px;
    background-color: azure;
    text-align: left;
    font-size: medium;
    margin-left: 0px;
    padding-left: 20px;
   }
footer>img{
    width: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: left;
    margin-left: 10px;
    padding-top: 20px;

    }