/* HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    
 
}

/*NavBar*/
.logo{
    height: 5rem;
    width: 10rem;
    padding-left: 1.25rem;
}
.navbar-brand{
    font-size: 1.5rem;
    padding-left: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(224, 239, 252);
}
.accion{
    padding-right: 3.75rem;}
.suspenso{
    padding-right: 3.75rem;}
.terror{
    padding-right: 3.75rem;}
.drama{
    padding-right: 3.75rem;}

.ltr{
    
    font-size: 1.563rem;
    color: rgb(224, 239, 252);
    text-decoration:double;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
                 
}
.bkc{
    background-color: #164B60;
    height: 6.25rem;
   
}
.ltr:hover{
    color:rgba(30, 56, 29, 0.411);
    
}

/*Buscador*/

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding-top: 6.25rem;
    padding-left: 5rem;
    padding-bottom: 1.875rem;
    background-color:#F7FFE5;
    text-shadow: 1px 4px 2px rgba(0,0,0,0.6);
    margin: 0rem;    
    background-image: url(/Medios/imagenes/libro-digital.png);
    background-repeat: no-repeat;
    background-position:  115rem 3rem; 
    background-size: 12rem


}

.subititulo{
    text-align: left;
    padding-left: 12rem ;
    font-size: 2rem;
    padding-top: 0.62rem;
    padding-bottom: 3rem;
    background-color:#F7FFE5;
    box-shadow: -3px 20px 5px 4px #164B60;
}
.container-fluidsr{
    padding: 15rem 20rem 20rem 3rem;
    background-image: url(/Medios/imagenes/books-composition-3d-render-free-png.webp);
    background-position:right top;
    background-size: 43.75rem;
    background-repeat: no-repeat;
    margin-top: 7rem;

}
.me-2{
    height: 5rem;
    width: 37.5rem;
    font-size: 2.5rem;
    border-radius: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    background-color:#f7f7f2;
    border: none;

}

.btnbuscar{
    width: 25rem;
    border: none;
    background-color:rgb(252, 252, 252); ;
    font-size: 2.5rem ;
    border-radius: 2.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.btnbuscar:hover{
    background-color:#164B60;
    ;
    color: rgb(247, 247, 242);

}
/*Cardsss*/
h2{
    background-color: beige;
    color: #164B60;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: solid;
    font-size: 5rem;
    padding: 6.25rem 0px 0px 3.75rem;
    margin-bottom: 0px;
    
}

.card-body{
    display: flex;
    background-color: beige;
padding-top: 3.75rem;
padding-bottom: 9.375rem;
    
 

}

.card-body .btn{
    font-size: 1.25rem;
    color:beige;
    background-color: #164B60;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem ;
    text-decoration: solid;
    border: 2px solid #1c2505 ;

    
}

.btn:hover{
    background-color: #F7FFE5;
    color: #164B60;
}

div> img{
    width: 11.25rem;
    height: 14.375rem;
    border-radius: 1.25rem; 

 }

.Cterror{
    padding: 1.875rem;
    border: 2px solid #1c2505 ;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);
  
}

.Cdrama{
    padding: 1.875rem;
    border: 2px solid #1c2505 ;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);

}

.Cacci{
    padding: 1.875rem;
    border: 2px solid #1c2505 ;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);
}

.Cfan{
    padding: 1.875rem;
    border: 2px solid #1c2505 ;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    margin: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 10px 13px 17px 0px rgba(0,0,0,0.75);


}

h5{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

}
.card-text{
    font-family:'Montserrat', sans-serif ;
    font-size: 1.4rem;

}

/*Footer*/
.navbar{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #164B60;
}

/*Suscribete*/
.logo1{
   background-color: #164B60;
   display: flex;
   align-items: center;
   justify-content: center;
 }

.logo12{
    width: 14rem;
    height: 11rem;
    margin-top: 2rem;
}

.sus{
   font-size: 1.3rem;
   font-family:'Montserrat', sans-serif ;
   margin: 0.5rem;
   color: #ffffff;
   
}

.me-3{
    width: 15rem;
    font-family:'Montserrat', sans-serif ;
    color: #164B60;
}
.btp{
    width: 10rem;
    font-family:'Montserrat', sans-serif ;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    color: #164B60;   
    border: none; 
}
.alfo3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #164B60;
}

.face{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    margin-top: 2rem;

}