@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #164B60;
}

nav {
  background: linear-gradient(0.25turn, #e1f0f7, #5896af, #164B60);
}
nav img {
  height: 4rem;
  width: 9rem;
  margin-left: 2rem;
}
nav a {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(224, 239, 252);
  text-decoration: none;
}
nav .navbar-nav a {
  font-size: 1.6rem;
  padding-right: 6rem;
  color: rgb(224, 239, 252);
  font-family: "Montserrat", sans-serif;
  transition: height 3s;
}
nav .nav-item:hover {
  background-color: aliceblue;
  background-size: 2rem;
  font-size: 1.8rem;
  border-radius: 10px;
}

.title2 {
  color: #164B60;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  padding: 6.25rem 0px 0px 3.75rem;
  margin-bottom: 0px;
}

footer {
  border-radius: 10px;
}
footer .logo1 {
  background-color: #164B60;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logo1 img {
  width: 10rem;
  height: 7rem;
  margin-top: 3rem;
}
footer h4 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
footer form {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
footer form input {
  width: 12rem;
  font-family: "Montserrat", sans-serif;
  color: #164B60;
  align-items: center;
  justify-content: center;
}
footer form button {
  width: 5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 1rem;
  color: #164B60;
  border: none;
}
footer .logos {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #164B60;
  margin: 1.2rem;
}
footer .logos img {
  height: 1.8rem;
  width: 1.8rem;
}

button:hover {
  background-color: #f7f7f2;
  text-decoration: solid;
  color: #164B60;
  border: #164B60;
}

.hin {
  background-image: url(/Medios/imagenes/backgroundweb.png);
  background-size: cover;
  width: 100%;
  height: 35rem;
  animation-duration: 4s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.hin h3 {
  color: rgb(63, 77, 90);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.hin p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

/*Buscador INDEX*/
#buscador {
  background-image: url(/Medios/imagenes/backgroundweb2.png);
  height: 60rem;
  background-size: cover;
  margin: 0;
}
#buscador form .me-2 {
  height: 3rem;
  width: 30rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f2;
  border: none;
  transition: all 500ms;
}
#buscador .me-2:focus {
  height: 4rem;
  width: 37rem;
  font-size: 1.8rem;
}
#buscador form .btnbuscar {
  width: 15rem;
  margin-top: 2rem;
  height: 3rem;
  border: none;
  background-color: rgb(252, 252, 252);
  font-size: 1.8rem;
  color: #164B60;
  border-radius: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#buscador .btnbuscar:hover {
  background-color: #164B60;
  color: rgb(247, 247, 242);
}

/*CARDS INDEX*/
section .row {
  margin: 0;
  background-color: #f7f7f2;
  padding: 0;
}
section .row .row .bor {
  width: 30rem;
}
section .row .row .bor .card {
  border-radius: 10px 10px 10px 10px;
  color: #164B60;
}
section .row .row .bor img {
  width: 20rem;
  height: 15rem;
  border-radius: 15%;
  margin: 2rem;
}
section .row .row .bor h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
}
section .row .row .bor p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
section .row .row .bor button {
  color: #f7f7f2;
  background-color: #164B60;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 12rem;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
section .row .row .bor button:hover {
  background-color: #f7f7f2;
  text-decoration: solid;
  color: #164B60;
  border: #164B60;
}

.nov {
  background-image: url(/Medios/imagenes/Backgroundnoveda.png);
  background-size: cover;
  width: 100%;
  height: 35rem;
  animation-duration: 3s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.nov h3 {
  color: rgb(44, 58, 71);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation-duration: 4s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.nov p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.tnv {
  background-color: #f7f7f2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 10px 9px 5px 3px rgba(0, 0, 0, 0.51);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}
.tnv .contno {
  border-radius: 20px;
  margin: 3rem;
  margin-top: 4rem;
  background-color: #f7f7f2;
  color: #164B60;
}
.tnv .contno img {
  width: 12rem;
  height: 20rem;
  border-radius: 15px;
}
.tnv .contno .novtext h3 {
  font-size: 1.8rem;
  color: #164B60;
  margin-top: 1rem;
  text-decoration: solid;
}
.tnv .contno .novtext h4 {
  font-size: 1.3rem;
  color: #164B60;
  margin-top: 1rem;
  text-decoration: solid;
}
.tnv .contno .novtext h5 {
  font-size: 1.2rem;
  margin-top: 1.3rem;
  font-family: "Montserrat", sans-serif;
}
.tnv .contno .novtext p {
  font-size: 1.3rem;
  color: #164B60;
  margin-top: 1rem;
  text-decoration: solid;
}
.tnv .contno .novtext img {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
}
.tnv .contno .novtext button {
  height: 3rem;
  width: 10rem;
  background-color: #164B60;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  font-size: 1.8rem;
  color: #f7f7f2;
  align-items: center;
  justify-content: center;
}
.tnv .contno .novtext button:hover {
  background-color: #f7f7f2;
  color: #164B60;
}
.tnv .bs {
  height: 5rem;
  width: 18rem;
  background-color: #164B60;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  font-size: 1.8rem;
  color: #f7f7f2;
  align-items: end;
  justify-content: center;
}
.tnv .bs:hover {
  background-color: #f7f7f2;
  color: #164B60;
}

.bio {
  background-image: url(/Medios/imagenes/Backgroundbiblio.png);
  background-size: cover;
  width: 100%;
  height: 35rem;
  animation-duration: 4s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.bio h3 {
  color: rgb(44, 58, 71);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.bio p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.edi {
  background-image: url(/Medios/imagenes/Backgroundedito.png);
  background-size: cover;
  width: 100%;
  height: 35rem;
  animation-duration: 3s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.edi h3 {
  color: rgb(44, 58, 71);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.edi p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.edito img {
  width: 30rem;
  height: 20rem;
  margin-top: 5rem;
  border-radius: 10px;
}
.edito h4 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #164B60;
  margin-top: 5rem;
}
.edito h5 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #164B60;
  margin-top: 5rem;
}
.edito button {
  color: #f7f7f2;
  background-color: #164B60;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  width: 12rem;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.fr {
  background-image: url(/Medios/imagenes/Backgroundcontac.png);
  background-size: cover;
  width: 100%;
  height: 35rem;
  animation-duration: 3s;
  animation-name: neblina;
  animation-iteration-count: none;
}
.fr h3 {
  color: rgb(44, 58, 71);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.fr p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: black;
}

main {
  background: radial-gradient(aliceblue, #95c2d4);
  background-color: aliceblue;
  color: #164B60;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
main .formulario input {
  width: 30rem;
  height: 3rem;
  border-radius: 10px;
}
main .formulario label {
  font-size: 1.3rem;
}
main .input-group {
  width: 28rem;
  font-size: 1.8rem;
  border-radius: 10px;
}
main .input-group .form-select {
  color: #164B60;
  background-color: #f7f7f2;
  font-size: 1.3rem;
}
main button {
  background-color: #164B60;
  border: none;
  width: 12rem;
  height: 3rem;
  color: #f7f7f2;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes neblina {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=Css.css.map */
